<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gov.incra.sicop"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
    
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
     <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden"
        android:name="br.gov.incra.sicop.controller.GlobalController"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.gov.incra.sicop.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.ConsultaProcessoActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.ConsultaPecaActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.ConsultaTituloActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.ProcessoActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.PecaActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.TituloActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.ProcessosActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.PecasActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.TitulosActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.InformacoesActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="br.gov.incra.sicop.OrganizacaoActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>